*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  background-color: #343a40;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover{
  color:#a06cd5 ;
}

p{
  color: #c8b6ff;
}