.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #c8b6ff;

}

h2{
    opacity: 1;
}

.navbar ul{
    display: flex;
    gap: 2rem;
}

.new-btn{
    font-weight: 300;
    
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-left: 15px;
}